.triple-slider {
  .item {
    &:nth-child(1) {
      .card {
        transform: perspective(50rem) rotateY(-40deg) translate(-250px, 0rem);
      }
    }
    &:nth-child(2) {
      z-index: 2;
      .card {
        overflow: hidden;
      }
    }
    &:nth-child(3) {
      .card {
        transform: perspective(50rem) rotateY(40deg) translate(250px, 0rem);
      }
    }
  }
}
