.vuexy-icon{
   width: 60px !important;
   height: 60px !important; 
   img{
    width:52px !important;
    height: 50px !important;
   }
}
.linear-banner{
    background-image: url('../../public/images/banner.png') !important ;

}