/* From Uiverse.io by JinHuynh */
// https://uiverse.io/Admin12121/purple-parrot-82
.yellow {
  --bg-color: #f7e025;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4c5656;
  --card3-text-color: #000;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
}
.yellow-pale {
  --bg-color: #ffd861;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
}
.green {
  --bg-color: #b8f9d3;
  --bg-color-light: #e2fced;
  --text-color-hover: #030404;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.purple {
  --bg-color: #ceb2fc;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --card3-text-color: #ffffff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}
.orange {
  --bg-color: #e4552d;
  --bg-color-light: #e1baaf;
  --card3-text-color: #fff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.red-pale {
  --bg-color: #fcb2b2;
  --bg-color-light: #ffe7e7;
  --card3-text-color: #000;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}
.red {
  --bg-color: #d6002f;
  --bg-color-light: #f8bebe;
  --card3-text-color: #000;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.blue {
  --bg-color: #dce9ff;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4c5656;
  --card3-text-color: #000;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card-inner-circle {
  cursor: pointer;
  width: 220px;
  height: 220px;
  background: #fff;
  // border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 20px;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  border-radius: 6px;

  &:not(.colorfull) {
    border: 1px solid var(--bg-color);
  }
}

.card-inner-circle:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card-inner-circle:not(.colorfull):hover .overlay,
.card-inner-circle.colorfull .overlay {
  transform: scale(4) translateZ(0);
}

.card-inner-circle.colorfull:hover .overlay {
  // transform: scale(1) translateZ(0);
}

.card-inner-circle:not(.colorfull):hover .circle,
.card-inner-circle.colorfull .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
  &::after {
    background: var(--bg-color-light);
  }
}
.card-inner-circle.colorfull:hover .circle {
  border-color: var(--bg-color);
  background: white;
}

.card-inner-circle:not(.colorfull):hover p {
  color: var(--text-color-hover);
}

.card-inner-circle:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.card-inner-circle p {
  font-size: 17px;
  // color: #4c5656;
  color: white;
  // margin-top: 30px;
  color: var(--card3-text-color);
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  // top: 7px;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  // top: 7px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  // left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  color: var(--card3-text-color);
  transform: translateZ(0);
}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  // top: 20px;
  // left: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 0;
  transition: transform 0.3s ease-out;
}
