.wave-card {
  // margin: 100px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 240px;
  cursor: pointer;
  height: 270px;
  border-radius: 16px;
  overflow: hidden;
  color: white;
  // &.red {
  //   color: #030201;
  // }

  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
  }
  &.purple .wave {
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
  }
  &.orange .wave {
    background: linear-gradient(744deg, #c69262, #e7711d 60%, #eb6200);
  }
  &.yellow .wave {
    background: linear-gradient(744deg, #464820, #f7e018 60%, #555702);
  }
  &.red .wave {
    background: linear-gradient(744deg, #ff4a40, #8e1111 60%, #df00eb);
    * {
    }
  }
  &.blue .wave {
    background: linear-gradient(744deg, #4340ff, #2247db 60%, #00a5eb);
  }
  &.black .wave {
    background: linear-gradient(744deg, #07070750, #030201 60%, #a0a0a0);
  }
  &.green .wave {
    background: linear-gradient(744deg, #40ffb6, #36804c 60%, #bceb00);
  }
}

// .icon {
//   width: 3em;
//   margin-top: -1em;
//   padding-bottom: 1em;
// }

// .infotop {
//   text-align: center;
//   font-size: 20px;
//   position: absolute;
//   top: 5.6em;
//   left: 0;
//   right: 0;
//   color: rgb(255, 255, 255);
//   font-weight: 600;
// }

// .name {
//   font-size: 14px;
//   font-weight: 100;
//   position: relative;
//   top: 1em;
//   text-transform: lowercase;
// }

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.fast-playing .wave {
  border-radius: 40%;
  animation: wave 8000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 20s infinite linear;
}

.fast-playing .wave:nth-child(2) {
  animation-duration: 8000ms;
}

.wave:nth-child(2) {
  animation-duration: 20s;
}

.fast-playing .wave:nth-child(3) {
  animation-duration: 8000ms;
}

.wave:nth-child(3) {
  animation-duration: 20s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
